<!-- 中文衬线按 unicode-range 切片,浏览器只下载页面用到的分片;preload 的是基础拉丁片(内容哈希名,重切片需同步) -->
<link rel="preload" href="/fonts/noto-serif-sc/ef7579bba2891b396ee7abccc2e7098e.woff2" as="font" type="font/woff2" crossorigin>
<link rel="stylesheet" href="/fonts/noto-serif-sc/result.css">

<style>
  @font-face {
    font-family: 'Fira Code';
    src: url('/fonts/FiraCode-400.woff2') format('woff2');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Fira Code';
    src: url('/fonts/FiraCode-600.woff2') format('woff2');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
  }
</style>

<script src="/js/star.js" defer></script>
<script src="/js/lightense.min.js" defer></script>
